@keyframes eyeAnimationLeftRight{
    0%{
        margin-left: 0px;
    }
    25%{
        margin-left: 70px;
    }
    50%{
        margin-left: 0px;
    }
    75%{
        margin-left: -70px;
    }
    100%{
        margin-left: 0px;
    }
}
@keyframes smallEyeAnimationLeftRight{
    0%{
        margin-left: 0px;
    }
    25%{
        margin-left: 90px;
    }
    50%{
        margin-left: 0px;
    }
    75%{
        margin-left: -90px;
    }
    100%{
        margin-left: 0px;
    }
}
@keyframes eyeAnimationEight{
    0%{
        bottom: 139px;
        left: 54px;
    }

    10%{
        bottom: 144px;
        left: 5px;
    }
    20%{
        bottom: 139px;
        left: -25px;
    }
    30%{
        bottom: 130px;
        left: -15px;
    }
    40%{
        bottom: 125px;
        left: 30px;
    }
    50%{
        bottom: 139px;
        left: 54px;
    }
    60%{
        bottom: 144px;
        left: 103px;
    }
    70%{
        bottom: 144px;
        left: 133px;
    }
    80%{
        bottom: 130px;
        left: 130px;
    }
    90%{
        bottom: 125px;
        left: 98px;
    }
    100%{
        bottom: 139px;
        left: 54px;
    }
}
@keyframes smallEyeAnimationEight{
    0%{
        bottom: 193px;
        left: 81px;
    }

    10%{
        bottom: 198px;
        left: 32px;
    }
    20%{
        bottom: 193px;
        left: -5px;
    }
    30%{
        bottom: 184px;
        left: 5px;
    }
    40%{
        bottom: 179px;
        left: 50px;
    }
    50%{
        bottom: 193px;
        left: 81px;
    }
    60%{
        bottom: 198px;
        left: 130px;
    }
    70%{
        bottom: 198px;
        left: 160px;
    }
    80%{
        bottom: 184px;
        left: 160px;
    }
    90%{
        bottom: 179px;
        left: 125px;
    }
    100%{
        bottom: 193px;
        left: 81px;
    }
}
@keyframes eyeAnimationClip{
    0%{
        background-color: var(--EyeGradient);
    }
    10%{
        background-color:  transparent;

    }
    100%{
        background-color:  transparent;
    }
}
@keyframes eyeAnimationClose{
    0%{
        background-color: transparent;
    }

    100%{
        background-color: var(--EyeGradient);


    }
}
@keyframes eyeAnimationUpDown{
    0%{
        bottom: 139px;
    }
    25%{
        bottom: 170px;
    }
    50%{
        bottom: 139px;
    }
    75%{
        bottom: 110px;
    }
    100%{
        bottom: 139px;
    }
}
@keyframes smallEyeAnimationUpDown{
    0%{
        bottom: 193px;
    }
    25%{
        bottom: 235px;
    }
    50%{
        bottom: 193px;
    }
    75%{
        bottom: 159px;
    }
    100%{
        bottom: 193px;
    }
}
@keyframes eyeAnimationClock{
    0%{
        bottom: 139px;
    }
    25%{
        bottom: 170px;
    }
    50%{
        bottom: 139px;
    }
    75%{
        bottom: 100px;
    }
    100%{
        bottom: 139px;
    }
}
@keyframes smallEyeAnimationClock{
    0%{
        bottom: 193px;
    }
    25%{
        bottom: 235px;
    }
    50%{
        bottom: 193px;
    }
    75%{
        bottom: 149px;
    }
    100%{
        bottom: 193px;
    }
}
@keyframes nearAndFar1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes nearAndFar2{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}