@keyframes eyeAnimationLeftRight{
    0%{
        left: 0px;
    }
    25%{
        left: 65px;
    }
    50%{
        left: 0px;
    }
    75%{
        left: -65px;
    }
    100%{
        left: 0px;
    }
}
@keyframes smallEyeAnimationLeftRight{
    0%{
        left: 0px;
    }
    25%{
        left: 73px;
    }
    50%{
        left: 0px;
    }
    75%{
        left: -73px;
    }
    100%{
        left: 0px;
    }
}
@keyframes eyeAnimationEight{
    0%{
        bottom: 255px;
        left: 0px;
    }

    10%{
        bottom: 259px;
        left: -65px;
    }
    20%{
        bottom: 254px;
        left: -85px;
    }
    30%{
        bottom: 245px;
        left: -65px;
    }
    40%{
        bottom: 240px;
        left: -20px;
    }
    50%{
        bottom: 254px;
        left: 4px;
    }
    60%{
        bottom: 259px;
        left: 53px;
    }
    70%{
        bottom: 259px;
        left: 74px;
    }
    80%{
        bottom: 245px;
        left: 80px;
    }
    90%{
        bottom: 240px;
        left: 48px;
    }
    100%{
        bottom: 255px;
        left: 4px;
    }
}
@keyframes smallEyeAnimationEight{
    0%{
        bottom: 310px;
        left: -5px;
    }

    10%{
        bottom: 320px;
        left: -70px;
    }
    20%{
        bottom: 305px;
        left: -95px;
    }
    30%{
        bottom: 298px;
        left: -75px;
    }
    40%{
        bottom: 291px;
        left: -20px;
    }
    50%{
        bottom: 310px;
        left: 5px;
    }
    60%{
        bottom: 320px;
        left: 55px;
    }
    70%{
        bottom: 315px;
        left: 85px;
    }
    80%{
        bottom: 299px;
        left: 95px;
    }
    90%{
        bottom: 294px;
        left: 55px;
    }
    100%{
        bottom: 310px;
        left: -5px;
    }
}
@keyframes eyeAnimationClip{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes eyeAnimationClose{
    0%{
        background-color: transparent;
    }

    100%{
        background-color: var(--EyeGradient);


    }
}
@keyframes eyeAnimationUpDown{
    0%{
        bottom: 253px;
    }
    25%{
        bottom: 284px;
    }
    50%{
        bottom: 253px;
    }
    75%{
        bottom: 224px;
    }
    100%{
        bottom: 253px;
    }
}
@keyframes smallEyeAnimationUpDown{
    0%{
        bottom: 307px;
    }
    25%{
        bottom: 349px;
    }
    50%{
        bottom: 307px;
    }
    75%{
        bottom: 273px;
    }
    100%{
        bottom: 307px;
    }
}
@keyframes eyeAnimationClock{

    0%{
        bottom: 288px;
        left: 0px;
    }
    25%{
        bottom: 250px;
        left: 80px;
    }
    50%{
        bottom: 222px;
        left: 0px;
    } 
    75%{
        bottom: 250px;
        left: -80px;
    }
    100%{
        bottom: 288px;
        left: 0px;
    }
}
@keyframes smallEyeAnimationClock{

    0%{
        bottom: 351px;
        left: 0px;
    }
    25%{
        bottom: 307px;
        left: 90px;
    }
    50%{
        bottom: 265px;
        left: 0px;
    } 
    75%{
        bottom: 307px;
        left: -90px;
    }
    100%{
        bottom: 351px;
        left: 0px;
    }
}
@keyframes nearAndFar1{
    0%{
        filter: blur(2px);
    }
    50%{
        filter: blur(0px);
    }
    100%{
        filter: blur(2px);
    }
}
@keyframes nearAndFar2{
    0%{
        filter: blur(0px);
    }
    50%{
        filter: blur(2px);
    }
    100%{
        filter: blur(0px);
    }
}
@keyframes eyeAnimationCircle{

    0%{
        bottom: 288px;
        left: 0px;
    }
    13%{
        bottom: 276px;
        left: 50px;
    }
    26%{
        bottom: 250px;
        left: 80px;
    }
    39%{
        bottom: 238px;
        left: 50px;
    }
    52%{
        bottom: 222px;
        left: 0px;
    }
    65%{
        bottom: 234px;
        left: -50px;
    }
    78%{
        bottom: 250px;
        left: -80px;
    } 
    91%{
        bottom: 276px;
        left: -50px;
    }
    100%{
        bottom: 288px;
        left: 0px;
    }
}
@keyframes smallEyeAnimationCircle{

    0%{
        bottom: 351px;
        left: 0px;
    }
    13%{
        bottom: 339px;
        left: 60px;
    }
    26%{
        bottom: 313px;
        left: 90px;
    }
    39%{
        bottom: 281px;
        left: 60px;
    }
    52%{
        bottom: 265px;
        left: 0px;
    }
    65%{
        bottom: 281px;
        left: -60px;
    }
    78%{
        bottom: 313px;
        left: -90px;
    } 
    91%{
        bottom: 339px;
        left: -60px;
    }
    100%{
        bottom: 351px;
        left: 0px;
    }
}
@keyframes eyeAnimationHourglass{
    0%{
        bottom: 253px;
        left: 0px;
    }
    20%{
        bottom: 275px;
        left: -55px;
    }
    40%{
        bottom: 230px;
        left: -55px;
    }
    60%{
        bottom: 275px;
        left: 53px;
    }
    80%{
        bottom: 230px;
        left: 55px;
    }
    100%{
        bottom: 253px;
        left: 0px;
    }
}
@keyframes smallEyeAnimationHourglass{
    0%{
        bottom: 307px;
        left: 0px;
    }
    20%{
        bottom: 340px;
        left: -60px;
    }
    40%{
        bottom: 270px;
        left: -60px;
    }
    60%{
        bottom: 340px;
        left: 60px;
    }
    80%{
        bottom: 270px;
        left: 60px;
    }
    100%{
        bottom: 307px;
        left: 0px;
    }
}

